<h1>My Todo's</h1>

<div class="alert   alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>Is Completed</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <!-- for loop for each todo element of todos array -->
            <tr *ngFor="let todo of todos">

                <td>{{todo.description}}</td>
                <!-- // formating date by pipe symbol -->
                <td>{{todo.targetDate   |   date    |uppercase}}</td>
                <td>{{todo.done}}</td>
                <td><button (click)="deleteTodo(todo.id)" class ="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>